# Importación de dependencias y de los archivos parquet

In [171]:
import pandas as pd
import dask.dataframe as dd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [172]:
train_dask = dd.read_parquet('../data/raw/train')
test_dask = dd.read_parquet('../data/raw/test')
train_dataset = train_dask.compute()
test_dataset = test_dask.compute()

#### Limpieza de campos

In [173]:
train_dataset.drop(['id','url','region_url','image_url','description'],axis=1,inplace=True)
test_dataset.drop(['id','url','region_url','image_url','description'],axis=1,inplace=True)
train_dataset.baths = train_dataset.baths.astype(np.int64)
test_dataset.baths = test_dataset.baths.astype(np.int64)

#### Codificación de variables categoricas

In [174]:
oho = OneHotEncoder(dtype=np.int64,handle_unknown='ignore',sparse=False)
X = train_dataset[['laundry_options','parking_options']]
oho_df = pd.DataFrame(oho.fit_transform(X))
oho_df.index = train_dataset.index
oho_df.columns = oho.get_feature_names_out()
train_dataset.drop(['laundry_options','parking_options'], axis=1, inplace=True)
train_dataset = pd.concat([train_dataset, oho_df], axis=1)

c:\Users\pukeboy71\Documents\Henry-PI\New folder\predImmobiliario\venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [175]:
oho = OneHotEncoder(dtype=np.int64,handle_unknown='ignore',sparse=False)
X = test_dataset[['laundry_options','parking_options']]
oho_df = pd.DataFrame(oho.fit_transform(X))
oho_df.index = test_dataset.index
oho_df.columns = oho.get_feature_names_out()
test_dataset.drop(['laundry_options','parking_options'], axis=1, inplace=True)
test_dataset = pd.concat([test_dataset, oho_df], axis=1)

c:\Users\pukeboy71\Documents\Henry-PI\New folder\predImmobiliario\venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [176]:
le = LabelEncoder()
le_df = pd.DataFrame(le.fit_transform(train_dataset[['state']]))
le_df.columns = ['stateid']
train_dataset = pd.concat([train_dataset, le_df], axis=1)
le_df = pd.DataFrame(le.fit_transform(train_dataset[['type']]))
le_df.columns = ['typeid']
train_dataset = pd.concat([train_dataset, le_df], axis=1)

c:\Users\pukeboy71\Documents\Henry-PI\New folder\predImmobiliario\venv\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\pukeboy71\Documents\Henry-PI\New folder\predImmobiliario\venv\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [177]:
le = LabelEncoder()
le_df = pd.DataFrame(le.fit_transform(test_dataset[['state']]))
le_df.columns = ['stateid']
test_dataset = pd.concat([test_dataset, le_df], axis=1)
le_df = pd.DataFrame(le.fit_transform(test_dataset[['type']]))
le_df.columns = ['typeid']
test_dataset = pd.concat([test_dataset, le_df], axis=1)

c:\Users\pukeboy71\Documents\Henry-PI\New folder\predImmobiliario\venv\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\pukeboy71\Documents\Henry-PI\New folder\predImmobiliario\venv\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [201]:
pd.set_option('display.max_rows', 0)
pd.set_option('display.max_columns', 30)

test_dataset[test_dataset.isnull().any(axis=1)].head()

,region,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,lat,long,state,laundry_options_laundry in bldg,laundry_options_laundry on site,laundry_options_no laundry on site,laundry_options_w/d hookups,laundry_options_w/d in unit,laundry_options_None,parking_options_attached garage,parking_options_carport,parking_options_detached garage,parking_options_no parking,parking_options_off-street parking,parking_options_street parking,parking_options_valet parking,parking_options_None,stateid,typeid
252,austin,apartment,428,0,1,1,1,1,0,0,0,NaN,NaN,tx,1,0,0,0,0,0,0,0,1,0,0,0,0,0,43,0
320,ames,townhouse,1123,3,1,1,0,0,0,0,1,NaN,NaN,ia,0,0,0,0,1,0,0,0,0,0,1,0,0,0,12,9
524,toledo,apartment,1020,2,1,0,1,1,0,0,0,NaN,NaN,oh,0,0,0,0,0,1,1,0,0,0,0,0,0,0,35,0
626,knoxville,apartment,550,1,1,1,1,1,0,0,0,NaN,NaN,tn,0,1,0,0,0,0,0,0,0,0,1,0,0,0,42,0
784,wichita,house,2800,3,2,1,1,0,0,0,0,NaN,NaN,ks,0,0,0,1,0,0,1,0,0,0,0,0,0,0,16,5

#### Limpieza de datos

In [178]:
train_dataset.drop(train_dataset[train_dataset.baths > 8].index,inplace=True)
train_dataset.drop(train_dataset[(train_dataset.baths > 4) & (train_dataset.type == 'apartment')].index,inplace=True)

In [179]:
train_dataset.drop(train_dataset[train_dataset.beds > 8].index,inplace=True)

In [180]:
upperlimit = (train_dataset['sqfeet'].std() * 1.5) + train_dataset['sqfeet'].median()
train_dataset.drop(train_dataset[train_dataset.sqfeet >= upperlimit].index,inplace=True)

In [181]:
train_dataset.drop(train_dataset[train_dataset.lat > 100].index,inplace=True)
train_dataset.drop(train_dataset[train_dataset.lat < -15].index,inplace=True)
train_dataset.drop(train_dataset[train_dataset.long > -30].index,inplace=True)

In [182]:
train_dataset.reset_index(drop=True, inplace=True)

In [199]:
train_dataset[train_dataset.isnull().any(axis=1)].head()

,region,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,...,parking_options_attached garage,parking_options_carport,parking_options_detached garage,parking_options_no parking,parking_options_off-street parking,parking_options_street parking,parking_options_valet parking,parking_options_None,stateid,typeid
62,worcester / central MA,0,townhouse,1100,2,2,0,0,1,0,...,1,0,0,0,0,0,0,0,19,11
369,grand rapids,0,apartment,892,2,1,1,1,1,0,...,0,0,0,0,0,0,0,1,22,0
501,denver,0,apartment,932,2,2,1,1,0,0,...,1,0,0,0,0,0,0,0,5,0
840,columbia,1,apartment,964,2,2,1,1,0,1,...,0,0,0,0,0,0,0,1,40,0
975,sarasota-bradenton,0,house,2300,2,1,0,0,0,0,...,1,0,0,0,0,0,0,0,9,6

In [186]:
train_dask = dd.from_pandas(train_dataset,npartitions=4)
train_dask.to_parquet('../data/processed/train',name_function=lambda x: f"train-{x}.parquet")
test_dask = dd.from_pandas(test_dataset,npartitions=2)
test_dask.to_parquet('../data/processed/test',name_function=lambda x: f"test-{x}.parquet")